@import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';


$project-white: #fff;
$projectgray: #808080;
$projectlightgray: #d3d3d3;
$projectgreen: #71C671;
$projectblue: #009ACD;
$projectfontsize: 2rem;


.container {
  display: inline-block;
  position: relative;

  // top: 10rem
  // left: 10rem;

  border: 0.3rem solid $projectlightgray;
  border-radius: 0.5rem;
  padding: 2rem;
}

.container i {
  color: $projectlightgray;
  font-size: 2rem;
}

.lesson {
  color: $projectgreen;
}

.CSS {
  color: $projectgray;
}

.lesson, .CSS {
  font-size: $projectfontsize;
  font-weight: bold;
}

.lessonlist {
  text-decoration: underline;
  li {
    color: $projectblue;
  }
}

.number {
  position: relative;
  display: inline-block;
  color: $project-white;
  background: $projectlightgray;
  border-radius: 100%;
  padding: 1rem;
  right: -8rem;
  top: -20rem;
}
